@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-tico-yellow: #FFCC00;
  --color-tico-black: #050505;
  --color-tico-white: #F9FAFB;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-tico-black);
  color: var(--color-tico-black);
  overflow: hidden; /* Prevent scrolling on the body to act like a native app */
}

/* Glassmorphism utility */
.glass-panel {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.dark-glass-panel {
  background: rgba(5, 5, 5, 0.75);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
